<div class="gem-info">
  <div class="container">
    <div class="text text-muted">
      Это демо версия конструктора тестов для <%= link_to 'Naimi.kz', 'https://naimi.kz/', target: '_blank' %>
    </div>
  </div>
</div>
