<div class="gem-info">
  <div class="container">
    <div class="text text-muted">
      This is a demo app for the <%= link_to 'Naimi.kz', 'https://naimi.kz/', target: '_blank' %> 
    </div>
  </div>
</div>
