
<div class="logo">
  <p>
    <a href="https://www.w3schools.com">

      <img border="0" alt="W3Schools" cx="85" cy="85" r="85" src="http://startupcompete.co/business/logo-image/businessid/47148/filename/logo-dfldcrdtegtt.png" width="100" height="100">
    </a>
  </p>
</div>
