<%= paginate @questions %>

<div id="primary" class="container" data-mercury="full">
  <% if @survey.nil? %>
    <p>
      This survey is no longer available
    </p>
  <% elsif @survey.available_for_participant?(@participant) %>
    <%= render 'form' %>
  <% else %>
    <p>
      You have spent all the possible attempts to answer this Survey
    </p>
    <p>
      <%= link_to delete_user_attempts_path(@survey.id, session[:user_id]), method: :delete do %>
        Click here to reset the attempts
      <% end %>
    </p>
  <% end -%>
</div>

<script type="text/javascript">
jQuery(window).on('mercury:ready', function() { Mercury.saveUrl = '/attempts/new(.:format)'; });
</script>
